body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
	font-family: sans-serif;
}

.main {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 80px 0px aliceblue; 
	margin: 0 auto;
	padding: 30px;
	border-radius: 40px;
}

@media only screen and (max-width: 767px) {
	.main {
		width: 100%;
		box-sizing: border-box;
	}

}
@media only screen and (max-width: 767px) {
	.main {
		width: 600%;
	}
}

h1{
	margin: 0;
	text-align: center;
	font-size: 70px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif, cursive;
	/*cursive is fallbackfont*/
	text-shadow: 0px 0px 20px lightblue;
	color: white;
}

h2{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif, cursive;
}

h3{
	cursor: pointer;
	margin-bottom: 0;
}

h3 + * {
	display: none;
}

img{
	/* Centering the image*/
	display: block;
	margin: 0 auto;
	width: 200px;
	border: 10px dotted lightblue;
	border-radius: 50% 0 25% 0;
}

p,
ol,
ul {
	line-height: 1.6;
	list-style: none;
	padding-left: 0;
}

ul li {
	display: inline-block;
	background: blue; 
	padding: 4px 12px;
	margin-right: 1px;
}

a{
	font-weight: bold;
	text-decoration: none;
	color: goldenrod;
}
a:focus,
a:hover {
	outline: none;
	text-decoration: underline;
	color: darkgoldenrod;

}



